@model ROS.Domain.Models.Entry

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Entry</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Boat.SailNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Boat.SailNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Regatta.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Regatta.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Number)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Number)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RegistrationDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RegistrationDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HasPayed)
        </dt>

    </dl>
</div>

<div>
    @Html.ActionLink("Teams", "Index", "Team", new { id = Model.Id }, null)
</div>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
