@model ROS.Domain.Models.Club

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Club</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RegistrationDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RegistrationDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Logo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Logo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HomePage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HomePage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AddressContact.NextOfKin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AddressContact.NextOfKin)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AddressContact.Country)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AddressContact.Country)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AddressContact.City)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AddressContact.City)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AddressContact.BoxNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AddressContact.BoxNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AddressContact.StreetAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AddressContact.StreetAddress)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AddressContact.ZipCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AddressContact.ZipCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AddressContact.PhoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AddressContact.PhoneNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AddressContact.NextOfKin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AddressContact.NextOfKin)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
